.advantages {
  padding: 0 18px;
  margin-bottom: 39px;
}

.advantages__heading {
  margin-bottom: 16px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__text-wrapper {
  background-color: #81B3D2;
}

.advantages__item--dark-background {
  background-color: #eeeeee;
}

.advantages__title {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.advantages__title--white {
  color: #ffffff;
}

.advantages__number {
  display: block;
  text-align: center;
}

.advantages__number--white {
  color: #ffffff;
}

.advantages__description {
  text-align: center;
}

.advantages__description--white {
  color: #ffffff;
}
