.control {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.control__radio-mark {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #f2f2f2;
  margin-right: 16px;
  position: relative;
}

.control__radio:checked + .control__radio-mark::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 15px;
}

.control__checkbox-mark {
  width: 46px;
  height: 46px;
  border-radius: 4%;
  background-color: #f2f2f2;
  margin-right: 16px;
  position: relative;
}

.control__checkbox:checked + .control__checkbox-mark::before {
  content: url("../img/svg/icon-tick.svg");
  position: absolute;
  top: 15px;
  left: 12px;
}

.control:hover .control__radio-mark,
.control:hover .control__checkbox-mark {
  background-color: #e5e5e5;
}

.control:active .control__radio-mark,
.control:active .control__checkbox-mark {
  background-color: #d5d5d5;
}

.control:active .control__radio-mark::before {
  background-color: rgba(51, 51, 51, 0.3);
}

.control:active .control__checkbox-mark::before {
  opacity: 0.3;
}

.control__radio:focus + .control__radio-mark,
.control__checkbox:focus + .control__checkbox-mark {
  outline: 4px solid #5496bd;
}

.control__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: none;
}
