.control {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.control__radio-mark {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #F2F2F2;
  margin-right: 16px;
  position: relative;
}

.control__radio:checked+.control__radio-mark::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 15px;
}

.control__radio:hover+.control__radio-mark {
  background-color: #E5E5E5;
}

.control__radio:disabled+.control__radio-mark {
  background-color: #D5D5D5;
}

.control__radio:disabled:checked+.control__radio-mark::before {
  background-color: rgba(51, 51, 51, 0.3);
}

.control__checkbox-mark {
  width: 46px;
  height: 46px;
  border-radius: 4%;
  background-color: #F2F2F2;
  margin-right: 16px;
  position: relative;
}

.control__checkbox:checked+.control__checkbox-mark::before {
  content: url(../img/svg/icon-tick.svg);
  position: absolute;
  top: 15px;
  left: 12px;
}

.control__checkbox:hover+.control__checkbox-mark {
  background-color: #E5E5E5;
}

.control__checkbox:disabled+.control__checkbox-mark {
  background-color: #D5D5D5;
}

.control__checkbox:disabled:checked+.control__checkbox-mark::before {
  content: url(../img/svg/icon-tick-pale.svg);
}

.control__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: none;
}
