.feedback {
  padding: 36px 18px 22px 18px;

  @media (min-width: $tablet-width) {
    padding: 64px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 115px 120px 64px 120px;
  }
}

.feedback__heading {
  margin-bottom: 53px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 108px auto;
    max-width: 436px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 68px;
  }
}

.feedback__heading-title {
  margin: 0 0 24px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 31px;
  }
}

.feedback__heading-text {
  margin: 0;
}
