.form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form__group {
  width: 100%;
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;

    &:last-child {
      margin-bottom: 48px;
    }
  }
}

.form__group--full {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.form__button-note-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 324px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
  }
}

.form__button {
  width: 100%;
  max-width: 324px;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.form__note {
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
  align-self: flex-end;

  @media (min-width: $tablet-width) {
    align-self: center;
  }
}
