.intro {
  background-color: #81B3D2;
  color: #ffffff;
  background-image: url("../img/background/intro-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 18px 85px 18px;

  @media (min-width: $tablet-width) {
    padding: 77px 60px 91px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 120px 91px 120px;
  }
}

.intro--minor {
  padding: 52px 18px 67px 18px;

  @media (min-width: $tablet-width) {
    padding: 95px 60px 118px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 101px 120px 120px 120px;
  }
}
