.intro {
  background-color: #81B3D2;
  color: #ffffff;
  background-image: url("../img/main__index/intro-background.jpg");
  background-repeat: no-repeat;
  padding: 90px 18px 85px 18px;
  margin-bottom: 32px;
}

.intro--minor {
  padding: 52px 18px 67px 18px;
  margin-bottom: 36px;
}
