.intro {
  background-color: #81B3D2;
  color: #ffffff;
  background-image: url("../img/background/intro-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 18px 85px 18px;

  @media (min-width: $tablet-width) {
    padding: 77px 154px 91px 153px;
  }

  @media (min-width: $desktop-width) {
    padding: 78px 370px 90px 370px;
  }
}

.intro--minor {
  padding: 52px 46px 67px 45px;

  @media (min-width: $tablet-width) {
    padding: 95px 154px 118px 157px;
  }

  @media (min-width: $desktop-width) {
    padding: 101px 371px 120px 369px;
  }
}

.intro__image {
  display: block;
  margin: 0 auto;
}
