.likes {
  display: flex;
  align-items: flex-end;
  column-gap: 14px;
}

.likes__button {
  width: 23px;
  height: 25px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url(../img/svg/icon-like.svg);
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $desktop-width) {
    background-image: url(../img/svg/icon-like-white.svg);
  }
}

.likes__number {
  font-weight: 700;
  color: #000000;

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}
