.main-footer {
  padding: 33px 18px;
}

.main-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.main-footer__copyright {
  text-decoration: none;
}

.main-footer__copyright-text {
  text-align: center;
  color: #000000;
}
