.main-footer {
  padding: 33px 82px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 36px 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 120px;
  }
}

.main-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.main-footer__social {
  margin: 0 auto 33px auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-footer__copyright {
  text-decoration: none;
  margin: 0 auto;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-footer__copyright-text {
  color: #000000;
  margin-right: 4px;
}

.main-footer__copyright:hover .main-footer__copyright-text {
  color: #81B3D2;
}

.main-footer__copyright:hover .main-footer__copyright-path {
  fill: #81B3D2;
}

.main-footer__copyright:active .main-footer__copyright-text {
  color: #B3B3B3;
}

.main-footer__copyright:active .main-footer__copyright-path {
  fill: #B3B3B3;
}
