.main-nav__toggle {
  @media (min-width: $tablet-width) {
  display: none;
}
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  max-width: 320px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 153px 153px 153px 153px 153px;
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 240px 240px 240px 240px 240px;
    max-width: 1200px;
  }
}

.main-nav__item {
  background-color: #81B3D2;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
  }
}

.main-nav__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
}
