.main-nav {
  width: 100%;
}

.main-nav__toggle {
  width: 23px;
  height: 22px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #81B3D2;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 9px 0 0 #81B3D2, 0 18px 0 0 #81B3D2;
}

.main-nav--closed .main-nav__toggle:hover::before {
  opacity: 60%;
}

.main-nav--closed .main-nav__toggle:active::before {
  opacity: 30%;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  width: 4px;
  height: 27px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
}

.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav--opened .main-nav__toggle:hover::before,
.main-nav--opened .main-nav__toggle:hover::after {
  opacity: 60%;
}

.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  opacity: 30%;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (max-width: $mobile-width-only) {
    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      height: 7px;
      background-image: linear-gradient(180deg, rgba(black, 0) 0%, rgba(black, 0.2) 100%);
    }
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

.main-nav__item {
  background-color: #81B3D2;
  display: flex;
  justify-content: center;

  @media (max-width: $mobile-width-only) {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: #669EC0;
    }

    &:active .main-nav__link {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  @media (min-width: $tablet-width) {
    background-color: #ffffff;

    &:nth-child(4n - 1) {
      grid-column-start: 4;
    }
  }
}

.main-nav__link {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  display: block;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
}

.main-nav__link--active {
  @media (min-width: $tablet-width) {
    color: #766357;
  }
}
