.main-footer {
  padding: 33px 82px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 36px 60px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 120px;
  }
}

.main-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.main-footer__copyright {
  text-decoration: none;
}

.main-footer__copyright-text {
  text-align: center;
  color: #000000;
}
