.social {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 210px;
  gap: 6px;
}

.social__link {
  display: block;
  height: 48px;
}

.social__link:hover .social__icon-path {
  fill: #669ec0;
}

.social__link:active .social__icon {
  fill: #5496bd;
}

.social__link:active .social__icon-inside {
  fill: rgba(255, 255, 255, 0.3);
}
